{% load static %}

<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="Ahocardo" content="width=device-width, initial-scale=1.0">
        <title>Ahocardo</title>
        <link rel = "stylesheet" href="{% static 'styles/index.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Modak&display=swap" rel="stylesheet">  

    </head>

        <body>

            <div class = "contenedor">
                <div class = "titulo">
                    <h1 class = "degradado">THE GAME OF SEVEN LIVES</h1>
                </div>

                <div class = "comenzar">
                    <a href="{% url 'proyecto' %}">
                        <button class = "comenzar_1">COMENZAR</button>
                    </a>
                </div>
            </div>
        </body>


</html>