{% load static %}

<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="Ahocardo" content="width=device-width, initial-scale=1.0">
        <title>Ahocardo</title>
        <link rel = "stylesheet" href="{% static 'styles/index.css' %}">

    </head>

        <body>

            <div class = "contenedor">
                <div class = "titulo">
                    <h1 class = "degradado">THE GAME OF SEVEN LIVES</h1>
                </div>

                <div class = "comenzar">
                    <div class = "comenzar_1">COMENZAR</div>
                </div>

                <div class = "ocpiones">
                    <div class = "opciones_1">OPCIONES</div>
                </div>
            </div>
        </body>


</html>