<div class = "menu_opciones">    
    <div class = "corazon">
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
    </div>
    <button id = "btnPistas" class = "pista">PISTAS</button>
    <button class = "adivinar">ADIVINAR</button>
    <a href="{% url 'index' %}" class = "enlace-sin-estilos">
        <button class = "menu">VOLVER AL MENU</button>
    </a>
</div>