<div class = "menu_opciones">    
    <div class = "corazon">
        <i id = "corazon-1" class="fa fa-heart"></i>
        <i id = "corazon-2" class="fa fa-heart"></i>
        <i id = "corazon-3" class="fa fa-heart"></i>
        <i id = "corazon-4" class="fa fa-heart"></i>
        <i id = "corazon-5" class="fa fa-heart"></i>
        <i id = "corazon-6" class="fa fa-heart"></i>
        <i id = "corazon-7" class="fa fa-heart"></i>
    </div>
    <button id = "btnPistas" class = "pista">PISTAS</button>
    <button id = "btnAdivina" class = "adivinar">ADIVINAR</button>
    <a href="{% url 'index' %}" class = "enlace-sin-estilos">
        <button class = "menu">VOLVER AL MENU</button>
    </a>
</div>