<div class = "menu_opciones">    
    <div class = "corazon">
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
    </div>
    <div class = "pista">PISTAS</div>
    <div class = "adivinar">ADIVINAR</div>
    <a href="{% url 'index' %}" class = "enlace-sin-estilos">
        <button class = "menu">VOLVER AL MENU</button>
    </a>
</div>