{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{% static 'styles/ahorquitos.css' %}">
    <link rel = "stylesheet" href="{% static 'styles/lineas.css' %}">
    <link rel = "stylesheet" href="{% static 'styles/muñeco.css' %}">
    <link rel = "stylesheet" href="{% static 'styles/botones.css' %}">
    <link rel = "stylesheet" href="{% static 'styles/pistas.css' %}">
    <link rel = "stylesheet" href="{% static 'styles/adivina.css' %}">
    <link rel = "stylesheet" href="{% static 'styles/game-over.css' %}">
    <link rel = "stylesheet" href="{% static 'styles/winner.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


    <title>Ahorcado</title>
</head>
<body class = "fondo_juego">
    <section>    
        {% include 'components/muñeco.html' %}
        {% include 'components/botones.html' %}
    </section>
    
    <div class = "lineas">{% include 'components/lineas.html' %}</div>
    <div id = "pistas" class = "pistas">{% include 'components/pistas.html' %}</div>
    <div id = "adivina" class = "adivina">{% include 'components/adivina.html' %}</div>
    {% block victoria %}{% endblock %}

    {% include 'components/formularioTeclas.html' %}

    {% block input %}
    <input id = "input-palabra" type="hidden" value="{{ palabra.palabra }}">
    {% endblock %}

    <script src="{% static 'js/pistas.js' %}"></script>
    <script src="{% static 'js/adivina.js' %}"></script>
    <script src="{% static 'js/teclas.js' %}"></script>

</body>
</html>