.adivina {
    display: none;
    position: absolute;
    z-index: 100;
    width: 650px;
    height: 450px;
    background-color: #222222;
    border-radius: 30px;
    margin-top: 180px;
    opacity: .9;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.enable_adivina {
    display: flex;
    position: absolute;
    z-index: 100;
    width: 650px;
    height: 450px;
    background-color: #222222;
    border-radius: 30px;
    margin-top: 180px;
    opacity: .9;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.adivina-0 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* Para el estilo "Light" */
    font-style: italic;
    font-size: 32px;
    margin-top: 40px;
    font-size: 40px;
}

.close-adivina {
    color: white;
    font-size: 45px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px 15px;
}

.input-adivina {
    display: flex;
    width: 70%;
    height: 80px;
    color: black;
    text-align: center;
    font-size: 70px;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.input-adivina-0 {
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
}
