body {
    background-image: url('/static/images/milena-murara-galaxia3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

section {
    display: flex;
    height: 70%;
    width: 100%;
    display: flex;    
}

.enlace-sin-estilos {
    color: inherit; /* Hereda el color del texto de su elemento padre */
    text-decoration: none; /* Elimina la decoración del texto */
    /* Otros estilos que deseas restablecer */
    margin: 20px auto;
    display: inline-block;
    width: 100%;
    text-align: center;
}
